* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
   padding-top: 20px; /* adiciona espaçamento */
   padding-right: 100px;
   padding-left: 100px;
}

.conteudo {
   width: 100%; /* largura */
   display: flex;
   justify-content: space-between; /* adiciona espaço entre os itens */
   align-items: center; /* alinha  tudo ao centro */
}

.caixa-texto {
   width: 600px;
}

.caixa-imagem {
   width: 600px;
   display: flex;
   justify-content: flex-end; /* joga item todo pro lado */
   margin-top: 250px;
}

.menu {
   display: flex;
   justify-content: center; /* joga itens para o centro */
}

button {
   background-color: #017143; /* cor de fundo */
   color: #ffffff; /* cor do texto */
   border: none; /* borda */
   padding: 10px;
   border-radius: 20px;
}

h2 {
   font-size: 60px;
   font-weight: 500;
}

span {
   color: #017143;
   font-size: 70px; /* muda tamanho do texto */
   font-weight: 900;  /* muda a grossura do texto */
}

p {
   font-size: 16px;
   margin-top: 20px;
   margin-bottom: 30px;
}

.logo {
   width: 80px;
}

.starbucks {
   width: 340px;
   z-index: 2; /* define se o item está a frente ou atrás */
}

.copo-pequeno {
   width: 60px;
   cursor: pointer;
   transition: 1s;
}

.copo-pequeno:hover {
   transform: translateY(-35px);
}

.circulo {
   background: #017143;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   clip-path: circle(600px at right 800px);
}


@media (max-width: 1000px) {
  body {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    height: 120vh;

  }
  .caixa-texto {
    width: 80vw;
    max-width: 600px;
  }

  .conteudo {
    display: flex;
    flex-direction: column;
    width: 80vw;
  }

  .caixa-imagem {
    width: 200px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
    
  }
.caixa-imagem img{
  height: 40vh;
}
  .menu {
    display: flex;
    position: relative;
    top: 50px;
    justify-content: center;
  }

  .circulo {
    top: -800px;
    right: -700px;
  }

  h2 {
    font-size: 45px;
    font-weight: 450;
 }

 span {
  font-size: 65px; /* muda tamanho do texto */
  font-weight: 800;  /* muda a grossura do texto */
}
}

@media (max-width: 700px) {
 
  h2 {
    font-size: 40px;
    font-weight: 450;
 }

 span {
  font-size: 60px; /* muda tamanho do texto */
  font-weight: 800;  /* muda a grossura do texto */
}

  .conteudo {
    height: 88vh;
  }
  .caixa-texto {
    width: 90vw;
    max-width: 500px;
  }

  .circulo {
    top: -800px;
    right: -800px;
  }

  .menu {
    display: flex;
    position: relative;
    
    justify-content: center;
  }
}

@media (max-width: 470px) {
 
  h2 {
    font-size: 35px;
    font-weight: 450;
 }

 span {
  font-size: 50px; /* muda tamanho do texto */
  font-weight: 800;  /* muda a grossura do texto */
}

  p{
    font-size: 14px;
  }

  .conteudo {
    height: 88vh;
  }
  .caixa-texto {
    width: 90vw;
    max-width: 500px;
  }

  .circulo {
    top: -800px;
    right: -800px;
  }

  .menu {
    display: flex;
    position: relative;
    top: 70px;
    justify-content: center;
  }
}

@media (max-width: 290px) {
 
  h2 {
    font-size: 35px;
    font-weight: 450;
 }

 span {
  font-size: 40px; /* muda tamanho do texto */
  font-weight: 700;  /* muda a grossura do texto */
}

  p{
    font-size: 14px;
  }

  .conteudo {
    height: 88vh;
  }
  .caixa-texto {
    width: 90vw;
    max-width: 500px;
  }

  .circulo {
    top: -800px;
    right: -800px;
  }

  .menu {
    display: flex;
    position: relative;
    top: 160px;
    justify-content: center;
  }

  .caixa-imagem img{
    height: 34vh;
}}